@page
@model IndexModel
@{
	ViewData["Title"] = "archTechnica";
}

<div class="text-center">
	<h1 class="display-4">A Place For Everything</h1>
</div>

<a class="nav-link text-dark" asp-area="" asp-page="/RecursiveTree">Recursive Tree</a>

